/*Solid green border around the text, I like it*/
body {
	border:8px solid green;
}

/*Code of the top header*/
.header{
  	background-color: green; 
	text-align: center;
   	padding: 15px;
	border:8px solid green;
}

/*Code to use on most text in the website*/
.text {
	background-color:gray;
	text-color:white;
	border:5px solid  blue;
}

/*Code for Bigger Text*/
.large	{
	font-size: 175%
}

/* The navbar container */
.topnav {
    overflow: hidden;
    background-color: orange;
}

/* Navbar links */
.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 12px 18px;
    text-decoration: none;
}

/* Color change when hover on Links*/
.topnav a:hover {
    background-color: #ddd;
    color: white;
}

/*Column Allignment and Color*/
.column {
    float: left;
	background-color: green;
}

/* Left and right column */
.side {
        float: right;
	width: 25%;
	background-color: green;
}

/* Middle column */
.middle {
   	width: 43%;
	float: center;
	text-allign: center;
	background-color: green;
}

/* This makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 120%;
  }
}

/* Creates three equal columns that floats next to each other */
.column {
    float: left;
    width: 40%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* This makes the three columns stack on top of each other instead of next to each other on smaller screens */
@media screen and (max-width: 600px) {
    .column {
        width: 125%;
    }
}

/*What appears on the bottom of the page*/
.footer {
    background-color: green;
    text-align: center;
    padding: 12px; 
}
